body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.content {
  width: 100%;
  height: 100vh;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

table thead td,
table tbody td {
  padding: 10px 16px !important;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  padding-left: 30px;
}

tfoot .MuiSelect-root,
tfoot .MuiTypography-root {
  font-size: 0.7rem !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: sienna !important;
}

.MuiFormLabel-root.Mui-focused{
  color: sienna !important;
}